
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        {{#if update}}
          <h4>Actualizar Nota</h4>
          <form class="card-body" action="/note/update/{{update._id}}" method="POST">
            <input type="text" name="title" value='{{update.title}}' class="my-2 form-control" placeholder="Titulo">
            <textarea name="description" class="my-2 form-control" placeholder="Descripcion">{{update.description}}</textarea>
            <input type="submit" class="btn btn-primary" value="Actualizar Nota">
          </form>
        {{else}}
          <h4>Crear Nota</h4>
          <form class="card-body" action="/note/create" method="POST">
            <input type="text" name="title" class="my-2 form-control" placeholder="Titulo">
            <textarea name="description" class="my-2 form-control" placeholder="Descripcion"></textarea>
            <input type="submit" class="btn btn-primary" value="Guardar Nota">
          </form>
        {{/if}}
      </div>
    </div>
    {{#if notes}}
    <div class="col-md-8">
      <table class='table table-striped table-light table-bordered'>
        <thead>
          <tr>
            <td>Titulo</td>
            <td>Descripcion</td>
            <td>Opciones</td>
          </tr>
        </thead>
        <tbody>
          {{#each notes}}
            <tr>
              <td>{{title}}</td>
              <td>{{description}}</td>
              <td>
                <a href="/note/update/{{_id}}" class='col-md-3 fas fa-pencil'></a>
                <a href="/note/delete/{{_id}}" class='col-md-3 fas fa-trash text-danger'></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
        <div class="col-md-8">
          <p class="lead text-center">No tienes notas</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>
